
<!--s
<div *ngIf="incident">

  <h2>{{incident.id | uppercase}} Details</h2>
  <div><span>id: </span>{{Incident.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="incident.id" placeholder="ID"/>
    </label>
  </div>

</div>
-->

<!-- Is this Correct? (No Output at the moment)-->
<div>
  This page does not work at the moment.....
    <!-- Incident: {{incident.id}} <br>
    Time: {{incident.loggedTime.createTime()}} <br>
    Device: {{incident.device}} <br>
    Type: {{incident.type}} <br> <br> -->
</div>
