
<!--
<p>
  incident-detail works!
</p>

<div *ngIf="incident">

  <h2>{{incident.id | uppercase}} Details</h2>
  <div><span>id: </span>{{Incident.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="incident.id" placeholder="ID"/>
    </label>
  </div>

</div>
-->
<div *ngIf="incident$ | async as incident">

  <body>
    Incident: {{incident.id}} <br>
    Time: {{incident.loggedTime.createTime()}} <br>
    Device: {{incident.device}} <br>
    Type: {{incident.type}} <br> <br>
  </body>
</div>